<div class="jumbotron">
  <h1>Le Helps</h1>

  <div class="helps" ng-repeat="flag in MainCtrl.flags">
    <img class="user-pic" ng-src="{{ MainCtrl.getGravatar(flag.uid) }}" />
    <div class="flag-info">
      <div class="user-name" ng-model="flag">
        <span class="timestamp">{{MainCtrl.Users(flag.uid.d)}} {{ flag.timestamp | date:'short' }}</span>
      </div>
      <div class="message">
        {{ flag.body }}
      </div>
    </div>
  </div>

  <form class="flag-form" ng-controller="FlagCtrl" >

    <div class="input-group">
      <input type="text" class="form-control" ng-model="flag" placeholder="Type a help request...">
      <span class="input-group-btn">
        <input class="btn btn-default" type="button" value="send" ng-click="sendFlag()"></input>
      </span>
    </div>

  </form>

</div>
